---
layout: jumbotron
js-package: home
css-package: home
edit-on-github: "false"
http2_resources:
    - rel: preload
      as: image
      href_list:
jumbotron:
    slider:
        slides:
            - title: 
              title-class: big-title
              slide-style: "background-position-y: center;"
              darken: true
              image: /assets/images/content/banner1.jpg
            - title: 
              description: 
              darken: true
              slide-style: "background-position-y: center;"
              image: /assets/images/content/banner2.jpg
            - title: 
              description: 
              darken: true
              slide-style: "background-position-y: center;"
              image: /assets/images/content/banner3.jpg
---

{% include home/developer-services.html %}

{% include home/blog-slider.html  %}
