---
layout: jumbotron
js-package: home
css-package: home
edit-on-github: "false"
http2_resources:
    - rel: preload
      as: image
      href_list:
jumbotron:
    slider:
        slides:
            - title: 海天株式会社
              title-class: big-title
              slide-style: "background-position-y: bottom;"
              darken: true
              image: /assets/images/content/banner1.jpg
            - title: 海天株式会社
              description: >
                海天株式会社
              darken: true
              slide-style: "background-position-y: bottom;"
              image: /assets/images/content/banner2.jpg
            - title: 海天株式会社
              description: 海天株式会社
              darken: true
              slide-style: "background-position-y: bottom;"
              image: /assets/images/content/banner3.png
---

{% include home/developer-services.html %}

{% include home/blog-slider.html  %}
