<div class="row content home-row p-t-50 p-b-50" id="developer-services">
    <div class="container">
        <div class="col-xs-12 col-sm-3">
            <img class="img-responsive lazyload center-block zoom-image"
                src="/assets/images/content/service1.jpeg"
                data-src="/assets/images/content/service1.jpeg" alt="Services logo" />
            <p class="call-to-action">
                システム開発
            </p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <img class="img-responsive lazyload center-block zoom-image"
                src="/assets/images/content/service2.jpeg"
                data-src="/assets/images/content/service2.jpeg" alt="Services logo" />
            <p class="call-to-action">
                クラウドソリューション開発
            </p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <img class="img-responsive lazyload center-block zoom-image"
                src="/assets/images/content/service3.jpeg"
                data-src="/assets/images/content/service3.jpeg" alt="Services logo" />
            <p class="call-to-action">
                ソフトウェア受託開発事業
            </p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <img class="img-responsive lazyload center-block zoom-image"
                src="/assets/images/content/service4.jpg"
                data-src="/assets/images/content/service4.jpg" alt="Services logo" />
            <p class="call-to-action">
                オフショア開発事業
            </p>
        </div>
        <div class="col-xs-12 text-center">
            <a href="/services" class="btn btn-primary m-t-30">詳細情報</a>
        </div>
    </div>
</div>
