<div class="row content home-row p-t-50 p-b-50" id="developer-services">
    <div class="container">
        <div class="col-xs-12 col-sm-3">
            <img class="img-responsive lazyload center-block zoom-image"
                src="/assets/images/content/service1.png"
                data-src="/assets/images/content/service1.png" alt="Services logo" />
            <p class="call-to-action">
                システムインテグレーション
            </p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <img class="img-responsive lazyload center-block zoom-image"
                src="/assets/images/content/service2.png"
                data-src="/assets/images/content/service2.png" alt="Services logo" />
            <p class="call-to-action">
                クラウドソリューション開発
            </p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <img class="img-responsive lazyload center-block zoom-image"
                src="/assets/images/content/service3.png"
                data-src="/assets/images/content/service3.png" alt="Services logo" />
            <p class="call-to-action">
                FinTechソリューション
            </p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <img class="img-responsive lazyload center-block zoom-image"
                src="/assets/images/content/service4.png"
                data-src="/assets/images/content/service4.png" alt="Services logo" />
            <p class="call-to-action">
                モバイルアプリケーション受託開発
            </p>
        </div>
        <div class="col-xs-12 text-center">
            <a href="/services" class="btn btn-primary m-t-30">詳細情報</a>
        </div>
    </div>
</div>
