<div class="row" id="latest-posts">
    <div class="container"><!--Start Container-->
        <div class="col-sm-9">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading text-center">ニュース</div>        
                <!-- List group -->
                <ul class="list-group">
                    {% for news in site.categories.News limit: 10 %}
                        <!-- <a href="{{news.url}}"> -->
                            <li class="list-group-item fly">{{news.title}}</li>
                        <!-- </a> -->
                    {% endfor %}
                    <!-- <a href="/news/">
                        <li class="list-group-item list-group-item-success text-center">More News</li>
                    </a>             -->
                </ul>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>
